- if @question.blank?
  = I18n.t('quiz.question.no_questions')
- else
  = image_tag @question.profile_image_url(:normal)
  #main-message
    = I18n.t('quiz.question.who')
  = form_tag answer_quiz_path do
    = text_field_tag :answer_name, nil, autofocus: true, required: true
    = submit_tag I18n.t('quiz.question.submit'), class: 'btn btn-primary'
  #answer_results
    %span#total_correct
      = I18n.t('quiz.question.correct')
      \: #{@current_quiz.correct}
    %span#total_incorrect
      = I18n.t('quiz.question.incorrect')
      \: #{@current_quiz.incorrect}
