#quiz_result
  - if @result == :win
    %div
      = image_tag @question.profile_image_url(:correct)
    %div#main-message
      = I18n.t('quiz.result.correct')
  - else
    %div
      = image_tag @question.profile_image_url(:incorrect)
    %div#main-message
      = I18n.t('quiz.result.incorrect')
  %div= @question.user.name
  %div= @question.answer_name
  - if @question.gender == 'male'
    %div= I18n.t('common.male')
  - else
    %div= I18n.t('common.female')
  %div= "#{@question.joined_year}#{I18n.t('user_profiles.edit.year')}"
  %div= @question.group.try(:name)
  %div= @question.project.try(:name)
  %div= @question.detail
- if @current_quiz.next_question.present?
  = button_to I18n.t('quiz.result.next'), question_quiz_path , method: :get, class: 'btn btn-info margin-top', autofocus: true
  = button_to I18n.t('quiz.result.retire'), quiz_path, method: :delete, class: 'btn btn-warning margin-top'
- else
  = I18n.t('quiz.result.no_more_questions')
  = button_to I18n.t('quiz.result.finish'), quiz_path, method: :delete , class: 'btn btn-success margin-top', autofocus: true
