<div style="border:1px solid black; width: 300px; height: 300px;" id="user_image"></div>
<%= @answer_user_profile.answer_name %>

<%= form_tag answer_quiz_path do |f| %>
  <%= hidden_field_tag :answer_user_id, @answer_user_profile.id %>
  <%= label_tag :answer_user_name %>
  <%= text_field_tag :answer_user_name %>
  <%= submit_tag :answer %>
<% end %>

<div id="answer_results">
  <span id="total_correct">
    <%= I18n.t('quiz.show.correct') %>: <%= @total_correct %>
  </span>
  <span id="total_incorrect">
    <%= I18n.t('quiz.show.incorrect') %>: <%= @total_incorrect %>
  </span>
</div>
