<div id="user_image">
  <% if @profile_image_normal %>
    <%= image_tag @profile_image_normal.image.url %>
  <% end %>
</div>

<div>
  <%= I18n.t('quiz.show.who') %>
</div>

<%= @answer_user_profile.answer_name %>

<%= form_tag answer_quiz_path do |f| %>
  <%= hidden_field_tag :answer_user_id, @answer_user_profile.id %>
  <%= label_tag :answer_user_name %>
  <%= text_field_tag :answer_user_name %>
  <%= submit_tag :answer %>
<% end %>

<div id="answer_results">
  <span id="total_correct">
    <%= I18n.t('quiz.show.correct') %>: <%= @total_correct %>
  </span>
  <span id="total_incorrect">
    <%= I18n.t('quiz.show.incorrect') %>: <%= @total_incorrect %>
  </span>
</div>
