<ul>
  <li><%= current_user.name %></li>
  <li><%= current_user.provider %></li>
  <li><%= current_user.uid %></li>
  <li><%= current_user.email %></li>
</ul>

<% if @start_button_enabled %>
  <%= link_to I18n.t('pages.index.start_quiz'), quiz_path %>
<% else %>
  <%= I18n.t('pages.index.can_not_start_quiz') %>
<% end %>
