%h2 認証情報
%ul
  %li= current_user.name
  %li= current_user.email
%h2 プロフィール
%ul
  %li= current_user.user_profile.answer_name
  - if current_user.user_profile.gender == 'male'
    %li= I18n.t('user_profiles.edit.male')
  - else
    %li= I18n.t('user_profiles.edit.female')
  %li= "#{current_user.user_profile.joined_year}#{I18n.t('user_profiles.edit.year')}"
  %li= current_user.user_profile.group.try(:name)
  %li= current_user.user_profile.project.try(:name)
  %li= current_user.user_profile.detail
