!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Jagi
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if user_signed_in?
      = link_to 'TOP', root_path
      = link_to I18n.t('pages.index.edit_profile'), edit_user_profile_path
      = link_to 'クイズを始める', new_quiz_path
      = link_to 'logout', destroy_user_session_path, method: :delete
    = content_tag(:div, flash[:notice], class: 'notice')
    = yield
